fastapi
uvicorn
python-multipart
requests
ollama
vosk
pyaudio
tinytuya
pyttsx3
SpeechRecognition
psutil
opencv-python
pillow
pyautogui
pydantic
python-dotenv
openai
aiohttp
pynput
pyowm
ddgs
python-telegram-bot
pypdf
mss
google-generativeai
edge-tts
pygame
groq
GPUtil
pycaw
comtypes
face_recognition